
# Supabase configuration
# Required for all Supabase client and server actions
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Required only for server-side admin operations (like deleting accounts)
# DO NOT expose this key to the client!
SUPABASE_SERVICE_ROLE_KEY=

